
<div class="col-md-12 mt-4">
    <h1 class="text-danger">Buscar Pokemones</h1>
</div>
<div class="col-md-12">
    <input type="text" class="form-control" placeholder="Escriba el nombre aqui" [formControl]="pokemon" (keyup)="buscar()">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let pokemon of pokemons">
            <span class="text-danger" (click)="mostrarpokemon(pokemon.name)">{{pokemon.name}}</span>
        </li>
    </ul>
    <div class="">
        <p>{{message}}</p>
    </div>
</div>
<div class="logBox" *ngIf="isPokemon">
    <app-view-pokemon [pokemon]="pokemonBuscar"></app-view-pokemon>
</div>
