
<div class="col-md-12">
    <h3 class="text-danger">Resultados Pokemon</h3>
</div>
<div class="col-md-12">
    <span>Habilidades:</span>
    <ul class="list-group accordion">
        <li class="list-group-item" *ngFor="let ability of pokemon.abilities">
            <span class="badge">{{ability.ability.name}}</span>
        </li>
        <span>Formas:</span>
        <li class="list-group-item" *ngFor="let forma of pokemon.forms">
            <span class="badge">{{forma.name}}</span>
        </li>
        <span data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Movimientos +</span>
        <li class="list-group-item collapse" id="collapseOne"  *ngFor="let movimiento of pokemon.moves">
            <span class="badge">{{movimiento.move.name}}</span>
        </li>
        <span>Especie:</span>
        <li class="list-group-item">
            <span class="badge" *ngIf="pokemon.species.name">{{pokemon.species.name}}</span>
        </li>
    
    </ul>
    </div>

