<div class="container-fluid text-danger">
  <div class="row">
    <img src="./assets/banner-pokemons.jpg" width="100%" height="250">
  </div>
  <div class="row">
    <div class="mx-auto">
    <router-outlet></router-outlet>  
    </div>
  </div>
</div>

